.form-signin {
            max-width: 400px; 
            display:block;
            background-color: #f7f7f7;
               -moz-box-shadow: 0 0 3px 3px #888;
            -webkit-box-shadow: 0 0 3px 3px #888;
	        box-shadow: 0 0 3px 3px #888;
            border-radius:2px;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
        }
        .main{
	        padding: 38px;
        }
        .social-box{
            margin: 0 auto;
            padding: 38px;
            border-bottom:1px #ccc solid;
        }
        .social-box a{
            font-weight:bold;
            font-size:18px;
            padding:8px;
        }
        .social-box a i{
            font-weight:bold;
            font-size:20px;
        }
        .heading-desc{
            font-size:20px;
            font-weight:bold;
            padding:38px 38px 0px 38px;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          font-size: 16px;
          height: 20px;
          padding: 20px;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="text"] {
            margin-bottom: 0px;
            border-radius: 5px;
        }
        .form-signin input[type="password"] {
            margin-bottom: 0px;
            border-radius: 5px;
        }
        .input-group {
            margin-bottom: 15px;
        }
        .login-footer{
            background:#f0f0f0;
            margin: 0 auto;
            border-top: 1px solid #dadada;
            padding:20px;
        }
        .login-footer .left-section a{
            font-weight:bold;
            line-height:19px;
        }
        .mg-btm{
            margin-bottom:20px;
        }